.land-continer{
    height: auto;
    width: 10vw;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20.5vh;
    left: 10vw;
    padding: 0.5em 0;
}

.land-title{
    font-size: 1.4rem;
    font-weight: 700;
    color: rgb(151, 151, 151);
}

.land-list{
    font-size: 1.1rem;
    font-weight: 700;
    color: rgb(163, 79, 79);
}

.land-list li{
    margin-bottom: 0.5em;
    margin-right: 1.5em;
    letter-spacing: 2px;
    word-spacing: 10px;
}